.my-container {

    height: 25rem;
    width: 15rem;
    background-color: white;
    margin: auto;
    margin-top: 7rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y:visible;
}

.my-container img {
    width: 90%;
    height: auto;
    text-align: center;
    object-fit: contain;
    margin: 1rem auto;
    border-radius: 7px;
    align-self: baseline;
}

.my-container p {
    padding: 0 2rem;
    font-weight: 700;
    text-align: center;
    
}

.my-container p:nth-child(3) {
    font-weight: 100;
    font-size: 0.7rem;
    color: grey;
    text-align: center;
}

body {
    background-color: #d5e1ef;

}
